body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-weight: Regular;
    Size: 16px;
    Line-Height: 24px;
    letter-spacing: 2%
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    height: auto;
}

.container{
    width:1158px;
    padding:0 15px;
    margin:0 auto;

    /*
    margin: 0 auto;
    padding: 120px 0px;
    /*
    margin-left: auto;
    margin-right: auto;*/
    
}

.page-header{
    border-bottom: 1px solid #e7e9fc;

}

.header-container{
    display: flex;
    align-items: center;
    margin:0 auto;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap:40px;
}

.address-list{
    gap:40px;
    display: flex;
    align-items: center;
}

.header-web{
    padding: 24px 0;
    margin-right: 76px;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.header-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}

.header-list-link:hover,
.header-list-link:active,
.header-list-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left:auto;
}

.address-list-item {
    display: block;
    padding: 24px 0;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404bbf;
}

.section-strategy {
    background-color: #2e2f42;
    padding: 188px 0;

}

.section-our-team {
    background-color: #F4F4FD;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4D5AE5;
}

.header-one {
    font-family: roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;

}

.button-order-service {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display:block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404BBF;
}

.header-two {
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-three {
    background-color: #FFFFFF
}

.test {
    background-color: #FFFFFF
}

.header-three {
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-text {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.header-three-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    background-color: #2e2f42;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    letter-spacing: 0.02em;
}



button {
    cursor: pointer;
}






